@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/demo1.min.css">
}

<main class="main">
    <div class="page-content">

        <section class="pt-10 mt-7 mb-10 appear-animate" data-animation-options="{'delay': '.3s'}">
            <div class="container">
                <div class="d-flex align-items-center justify-content-center">
                    <h2 class="mb-10">@Localizer["Our_serv"]</h2>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/fue-sac-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["FUE_H"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/safir-fue-sac-ekimi.jpg" alt="category"
                                         width="280" height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["S_FUE"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/dhi-sac-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #ececef;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["DHI"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/trassiz-sac-ekimi.jpg" alt="category"
                                         width="280" height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["UNBR"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/sakal-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Beard"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/kas-ekimi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #ececef;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Brow"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/agiz-ve-cene-cerrahisi.jpg" alt="category"
                                         width="280" height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["M_J_S"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/implant.jpg" alt="category" width="280"
                                         height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Implants"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/protez.jpg" alt="category" width="280"
                                         height="280" style="background-color: #ececef;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Prosthesis"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/pedodonti.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Pedodontics"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/endodonti.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Endodontics"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/dis-beyazlatma.jpg" alt="category" width="280"
                                         height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Teeth_White"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/burun-estetigi-1.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Rhinoplasty"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/dolgu.jpg" alt="category" width="280"
                                         height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["B/F"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/liposuction-2.jpg" alt="category" width="280"
                                         height="280" style="background-color: #ececef;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>Liposuction</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/meme-buyutme-1.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["BA/R"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/leke-tedavisi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #bcbdb7;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Spot_treatment"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/lazer-epilasyon.jpg" alt="category" width="280"
                                         height="280" style="background-color: #ececef;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["Lazer"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-lg-4 mb-4">
                        <div class="category category-default1 category-absolute banner-radius overlay-zoom">
                            <a>
                                <figure class="category-media">
                                    <img src="~/images/categories/prp-tedavisi.jpg" alt="category" width="280"
                                         height="280" style="background-color: #8c8c8d;" />
                                </figure>
                            </a>
                            <div class="category-content">
                                <h4 class="category-name font-weight-bold ls-l">
                                    <a>@Localizer["PRP"]</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>